<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933639983128-8eru3lcskekde1jaamqmsssgh684tq8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933639983128-8eru3lcskekde1jaamqmsssgh684tq8m</string>
	<key>API_KEY</key>
	<string>AIzaSyD3L4OURQ2xJ3LYrTAp8isDGmXH5h1-zkg</string>
	<key>GCM_SENDER_ID</key>
	<string>933639983128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanfaina.ebntz</string>
	<key>PROJECT_ID</key>
	<string>ebntz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ebntz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933639983128:ios:9331e9863ea87464cf336d</string>
</dict>
</plist>